{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}


    <div class="cover-container h-100 p-3 mx-auto">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col">
                <div class="h-400 w-400">
                    <svg width="350" height="350" viewBox="0 0 350 350" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="175" cy="175" r="172.5" stroke="#2F80ED" stroke-width="5"></circle>
                        <path d="M102.883 205.875H95.9708V144.243H73.2188V137.907H125.635V144.243H102.883V205.875ZM125.771 174.963C125.771 172.979 125.707 170.963 125.579 168.915C125.515 166.867 125.451 164.211 125.387 160.947H131.627V169.299H131.819C132.267 168.083 132.907 166.931 133.739 165.843C134.571 164.691 135.563 163.667 136.715 162.771C137.931 161.875 139.307 161.171 140.843 160.659C142.443 160.083 144.235 159.795 146.219 159.795C148.011 159.795 149.579 159.987 150.923 160.371L149.675 166.611C148.843 166.291 147.627 166.131 146.027 166.131C143.595 166.131 141.515 166.611 139.787 167.571C138.059 168.467 136.619 169.651 135.467 171.123C134.315 172.531 133.451 174.067 132.875 175.731C132.363 177.395 132.107 178.995 132.107 180.531V205.875H125.771V174.963ZM166.19 143.667C166.19 145.011 165.71 146.131 164.75 147.027C163.79 147.859 162.734 148.275 161.582 148.275C160.43 148.275 159.374 147.859 158.414 147.027C157.454 146.131 156.974 145.011 156.974 143.667C156.974 142.323 157.454 141.235 158.414 140.403C159.374 139.507 160.43 139.059 161.582 139.059C162.734 139.059 163.79 139.507 164.75 140.403C165.71 141.235 166.19 142.323 166.19 143.667ZM164.75 205.875H158.414V160.947H164.75V205.875ZM221.029 183.411C221.029 180.915 220.613 178.579 219.781 176.403C219.013 174.227 217.893 172.339 216.421 170.739C214.949 169.139 213.157 167.891 211.045 166.995C208.997 166.035 206.661 165.555 204.037 165.555C201.413 165.555 199.013 166.035 196.837 166.995C194.661 167.891 192.773 169.139 191.173 170.739C189.573 172.339 188.325 174.227 187.429 176.403C186.533 178.579 186.085 180.915 186.085 183.411C186.085 185.907 186.533 188.243 187.429 190.419C188.325 192.595 189.573 194.483 191.173 196.083C192.773 197.683 194.661 198.963 196.837 199.923C199.013 200.819 201.413 201.267 204.037 201.267C206.661 201.267 208.997 200.819 211.045 199.923C213.157 198.963 214.949 197.683 216.421 196.083C217.893 194.483 219.013 192.595 219.781 190.419C220.613 188.243 221.029 185.907 221.029 183.411ZM180.037 160.947H186.373V168.435H186.565C187.589 166.899 188.805 165.587 190.213 164.499C191.621 163.411 193.093 162.515 194.629 161.811C196.165 161.107 197.733 160.595 199.333 160.275C200.997 159.955 202.565 159.795 204.037 159.795C207.557 159.795 210.757 160.403 213.637 161.619C216.581 162.771 219.109 164.403 221.221 166.515C223.333 168.627 224.965 171.123 226.117 174.003C227.333 176.883 227.941 180.019 227.941 183.411C227.941 186.803 227.333 189.939 226.117 192.819C224.965 195.699 223.333 198.195 221.221 200.307C219.109 202.419 216.581 204.083 213.637 205.299C210.757 206.451 207.557 207.027 204.037 207.027C202.565 207.027 200.997 206.867 199.333 206.547C197.733 206.227 196.165 205.715 194.629 205.011C193.093 204.307 191.621 203.411 190.213 202.323C188.805 201.235 187.589 199.923 186.565 198.387H186.373V233.523H180.037V160.947ZM255.428 198.099L269.156 160.947H276.836L254.372 217.587C253.028 221.043 251.3 223.795 249.188 225.843C247.14 227.891 244.164 228.915 240.26 228.915C239.3 228.915 238.308 228.883 237.284 228.819C236.324 228.755 235.364 228.563 234.404 228.243L235.076 222.099C236.42 222.803 238.02 223.155 239.876 223.155C242.116 223.155 243.876 222.451 245.156 221.043C246.436 219.635 247.556 217.651 248.516 215.091L251.78 206.451L233.348 160.947H241.316L255.428 198.099Z" fill="#2F80ED"></path>
                    </svg>
                </div>
            </div>
            <div class="col">
                <form action="{{ path('app_security_login') }}" method="post">
                    <h1 class="mb-5 font-weight-bold ">Connexion</h1>
                    <div class="form-group mb-5">
                        <label class="text-primary" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="_username" value="{% if error %}{{ error.token.user }}{% endif %}" aria-describedby="emailHelp"/>
                    </div>
                    <div class="form-group mb-5">
                        <label class="text-primary" for="exampleInputPassword1">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="_password"/>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button type="submit" class="btn btn-outline-primary rounded-btn custom-btn">Connexion</button>
                    <div class="pt-5">
                        <p class="text-muted">Pas de compte ? <a href="{{ path('app_security_registration') }}">Inscription</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}