{% extends 'base.html.twig' %}

{% block title %}Dépenses{% endblock %}

{% block body %}
<div class="container p-3">
    <div class="row">
        <div class="col-12">
            <div class="inline">
                {% if (date is defined) %}
                    <h1 class="float-left">Dépenses du {{ date|date('d/m/Y') }}</h1>
                {% else %}
                    <h1 class="float-left">Toutes les dépenses </h1>
                {% endif %}
            <h1 class="float-right">{{ total }} €</h1>
            </div>
        </div>

        <div class="col-12 mt-3 mb-3">
            <a href="{{ path('expense_new', { 'id': travel.id }) }}" class="btn btn-primary">Créer une dépense</a>
        </div>

        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Somme</th>
                    <th>Voyageurs</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td><a class="mb-5 w-100" href="{{ path('expense_index', {'id': travel.id ,'date': expense.date|date('Y-m-d')})}}">{{ expense.date|date('d/m/Y') }}</a></td>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.amount }} €</td>
                        <td>{{ expense.traveler.username }}</td>
                        <td>
                            <a href="{{ path('refund_index', {'id': expense.id}) }}">Remboursements</a>
                            <!-- {{ include('backend/expense/_delete_form.html.twig') }} -->
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Pas de dépenses crées ...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
