{% extends 'base.html.twig' %}

{% block title %}Itinerary index{% endblock %}

{% block body %}
    <h1>Itinerary index</h1>

    <table class="table">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th> Date de départ </th>
                <th> Date de retour </th>
                <th> Pays </th>
                <th> Ville </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for itinerary in itineraries %}
            <tr>
                <!-- <td>{{ itinerary.id }}</td> -->
                <td>{{ itinerary.departureDate ? itinerary.departureDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ itinerary.arrivalDate ? itinerary.arrivalDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ itinerary.countryName ? itinerary.countryName : '' }}</td>
                <td>{{ itinerary.cityName ? itinerary.cityName : '' }}</td>
                <td>
                    <a href="{{ path('itinerary_show', {'id': itinerary.id}) }}">show</a>
                    <a href="{{ path('itinerary_edit', {'id': itinerary.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('itinerary_new' , {'id': travel.id}) }}">Create new</a>
{% endblock %}
