{% extends 'base.html.twig' %} {% block title %}Remboursements - {{ expense.description }}{% endblock %} {% block body %}
<div class="container p-3">
    <h1>Remboursements - {{ expense.description }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Somme à rembourser</th>
            <th>Emprunteur</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for refund in refunds %} {% if (refund.sum != 0) %}
        <tr>

            <td>{{ refund.sum ? refund.sum : '' }} €</td>

            <td>{{ refund.traveler.username ? refund.traveler.username : '' }}</td>

            <td>
                <a href="{{ path('refund_edit', {'id': refund.id}) }}">Effectuer le remboursement</a>
                 <!-- {{ include('backend/refund/_delete_form.html.twig') }} -->
            </td>

        </tr>
        {% endif %} {% else %}
        <tr>
            <td colspan="3">Pas de remboursements à effectuer ...</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('expense_index', {'id': expense.travel.id}) }}">Retour à la liste des dépenses</a>
</div>
{% endblock %}
