{% extends 'base.html.twig' %}

{% block title %}Refund index{% endblock %}

{% block body %}
    <h1>Refund index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for refund in refunds %}
            <tr>
                <td>{{ refund.id }}</td>
                <td>{{ refund.sum }}</td>
                <td>
                    <a href="{{ path('refund_show', {'id': refund.id}) }}">show</a>
                    <a href="{{ path('refund_edit', {'id': refund.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('refund_new') }}">Create new</a>
{% endblock %}
