{% extends 'base.html.twig' %}

{% block title %}Traveler index{% endblock %}

{% block body %}
    <h1>Voyageurs</h1>



            
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default(' Rechercher') }}</button>
{{ form_end(form) }}
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody>
        {% for traveler in travelers %}
            <tr>
                <td>{{ traveler.id }}</td>
                <td>{{ traveler.email }}</td>
                

                <td>
                    <a href="{{ path('traveler_invite', {'id': traveler.id,'idvoyage': travel.id} ) }}">Ajouter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
